
.about {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
   }
   
   .about h1 {
    text-align: center;
    color: #444;
   }
   
   .about h2 {
    color: #777;
   }
   
   .about p {
    text-align: justify;
    color: #444;
   }