#about {
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  .about-text, .about-title {
    text-align: center;
  }
  
  .about-title {
    font-size: 3rem;
    z-index: 1;
  }
  
  .about-container {
    display: flex;
    flex-direction: row; 
    gap: 1rem; 
    align-items: center;
    justify-content: center;
    margin: 2rem; 
  }
  
  .about-profile {
    max-width: 38%; 
  }
  
  .about-pic {
    width: 100%;
    height: auto;
    border-radius: 3rem;
    z-index: 1;
  }
  
  .about-container-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%; 
  }
  
  .about-containers {
    gap: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row; 
  }
  
  .details-container {
    margin-top: 1rem;
    background: #C5BAC4;
    border-radius: 1rem;
    border: 1px solid rgb(163, 163, 163); 
    text-align: center;
    flex: 1; 
  }
  
  .details-container h3, .details-container p {
    margin: 0;
  }
  
  .text-container {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem; 
    width: 100%; 
    height: auto;
  }

  .download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #191D23;
    color: white;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .download-icon {
    margin-right: 5px;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .about-container {
      flex-direction: column;
    }
  
    .about-profile,
    .about-container-details {
      max-width: 100%;
    }
  
    .about-pic {
      width: 100%;
      height: auto;
    }
    
    .details-container:not(:last-child) {
      margin-right: 1rem;
    }
  }