
#about {
    flex-direction: column;
}

.about-text, .about-title {
    text-align: center;
}

.about-title {
    font-size: 3rem;
    z-index: 1;
}

.about-container {
    display: flex;
    gap: 4rem;
    height: 80vh;
    z-index: 1;
}

.about-profile {
    height: 480px;
    width: 600px;
    margin-left: 5rem;
    margin-top: 2.5rem;
}

.about-pic {
    width: 35rem;
    height: 30rem;
    border-radius: 3rem;
    z-index: 1;
}

.about-container-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 1rem;
    display: flex;
    width: 90%;
}

.details-container {
    margin-top: 3rem;
    padding: 0.5rem;
    flex: 2;
    background: white;
    border-radius: 1rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    gap: 4rem;
    text-align: center;
}

.details-container h3, .details-container p {
    margin: 0;
}

.text-container {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 90%;
    height: auto;
}

.skills{
    display: block;
}
.skills h2 {
    text-align: center;
    color: black;
    font-size: 2rem;
    margin-top: 2rem;
  
}
  
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    #about {
        flex-direction: column;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-profile {
        margin: 2rem 0;
    }

    .about-pic {
        width: 100%;
        height: auto;
        margin-left: 5rem;
    }

    .details-container {
        width: 100%;
    }

    
}
