.introContent {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .intro-1 {
    margin-left: 9rem;
    font-size: 2rem;
    font-weight: 700;
    width: 300%;
    margin-top: 10rem;
  }
  
  .hello {
    font-size: 40px;
    font-weight: 100;
  }
  
  .introname {
    color: #191d23;
  }
  
  .introtext {
    font-size: 40px;
  }
  
  .intropara {
    font-size: 0.9rem;
    font-weight: 100;
  }
  
  .btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .social-icons-wrapper {
    display: flex;
    
  }
  
  .social-icons {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .icon-1,
  .icon-2,
  .icon-3,
  .icon-4{
    font-size: 2rem;
    margin: 0.5rem;
    color: #333;
    transition: color 0.3s ease;
  } 

  .icon-1:hover{
    color: purple;
    transition: color 0.3s ease;
  } 

  .icon-2:hover{
    color: #007bff;
    transition: color 0.3s ease;
  } 

  .icon-3:hover{
    color: blue;
    transition: color 0.3s ease;
  } 

  .icon-4:hover{
    color: #007bff;
    transition: color 0.3s ease;
  } 
  
  .intro-2 {
    margin-top: 3.5rem;
    margin-right: 9rem;
  }
  
  .intro-pic {
    width: 100%;
    border-radius: 0px 0px 0px 100px;
    z-index: 1;
  }
  
  @media screen and (max-width: 768px) {
    .introContent {
      flex-direction: column-reverse;
    
    }
  
    .intro-1, .intro-2 {
      width: 100%;
    }
  
    .intro-1 {
      margin-left: 0;
      margin-top: 1rem;
      text-align: center; 
    }
  
    .intro-2 {
      margin-top: 6rem;
      margin-right: 0;
    }
    .intro-1 {
      margin-inline: auto;
    }
    .social-icons-wrapper {
        margin-top: 2rem;
        justify-content: center;
      }
   
  }