.footer {
    background-color: #191D23;
    color: #fff;
    padding: 5px;
    text-align: center;
    display: block;
    left: 0;
    width: 100%;
  
  }
  
  @media (max-width: 768px) {
    .footer {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .footer {
      font-size: 12px;
    }
  }