

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(212, 212, 212);
    position: sticky;
    top: 0;
   
    margin: 0 auto;
    margin-left: 0 auto;
}
nav.nav-scroll {
    background-color: rgb(245, 245, 245); 
   }
nav .title{

    font-size: 2rem;
    margin: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
nav ul{
    display: flex;

}   
nav ul li{
    list-style: none;

}

nav ul li :hover{
    color: aquamarine;
    text-decoration: none;
    
    }
nav ul li a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
    ;
}
nav .menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}
nav .menu span{
    height: 0.1rem;
    width: 100%;
    background-color: black;
    border-radius: 0.6rem;
}

/* Tablets and smaller screens */

@media (max-width: 768px) {
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.30rem;
    }

    nav ul.open{
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a{
        margin: 0.3rem 0.6rem;
    }
}

/* Mobile screens */

@media (max-width: 480px) {
    nav .menu{
        display: flex;
    }

    nav{
        flex-direction: column;
        align-items: start;
    }

    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.30rem;
    }

    nav ul.open{
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a{
        margin: 0.3rem 0.6rem;
    }
}